---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<header class="w-screen h-auto p-5">
		<nav>
			<img src="/images/logo.png" alt="Logo" width="256" height="128">
		</nav>
	</header>
	<section id="issue7" class="w-screen h-auto flex flex-col items-center justify-start gap-y-2 pb-4">
		<img src="/images/b7.png" alt="Issue #7" width="420" height="580">
		<h2 class="text-base font-roboto-bold font-bold text-black text-center mb-3">Issue #7</h2>
		<a href="" class="text-sm font-roboto-bold font-bold text-white text-center transition-all hover:underline hover:decoration-white hover:underline-offset-2"> BUY HERE<span class="text-sm font-roboto-bold font-bold text-black text-center">  (Europe)</span></a>
		<a href="" class="text-sm font-roboto-bold font-bold text-white text-center transition-all hover:underline hover:decoration-white hover:underline-offset-2">BUY HERE<span class="text-sm font-roboto-bold font-bold text-black text-center"> (UK & Overseas)</span></a>
		<h4 class="text-sm font-roboto-bold font-bold text-black text-center mt-3 group">or in <a href="" class="text-sm font-roboto-bold font-bold text-white text-center transition-all group-hover:underline group-hover:decoration-white group-hover:underline-offset-2">selected stores</a></h4>
	</section>
	<section id="issue6" class="w-screen h-auto flex flex-col items-center justify-start gap-y-2 pb-4">
		<img src="/images/b6.png" alt="Issue #6" width="420" height="580">
		<h2 class="text-base font-roboto-bold font-bold text-black text-center mb-3">Issue #6</h2>
		<a href="" class="text-sm font-roboto-bold font-bold text-pink-600/80 text-center transition-all hover:underline hover:decoration-white hover:underline-offset-2">BUY HERE</a>

		<h4 class="text-sm font-roboto-bold font-bold text-black text-center mt-3 group">or in <a href="" class="text-sm font-roboto-bold font-bold text-pink-600/80 text-center transition-all group-hover:underline group-hover:decoration-white group-hover:underline-offset-2">selected stores</a></h4>
	</section>
	<section id="issue5" class="w-screen h-auto flex flex-col items-center justify-start gap-y-2 pb-4">
		<img src="/images/b5.png" alt="Issue #5" width="420" height="580">
		<h2 class="text-base font-roboto-bold font-bold text-black text-center mb-3">Issue #5</h2>
		<a href="" class="text-sm font-roboto-bold font-bold text-white text-center transition-all hover:underline hover:decoration-white hover:underline-offset-2">BUY HERE</a>

		<h4 class="text-sm font-roboto-bold font-bold text-black text-center mt-3 group">or in <a href="" class="text-sm font-roboto-bold font-bold text-white text-center transition-all group-hover:underline group-hover:decoration-white group-hover:underline-offset-2">selected stores</a></h4>
	</section>
	<section id="issue4" class="w-screen h-auto flex flex-col items-center justify-start gap-y-2 pb-4">
		<img src="/images/b4.png" alt="Issue #4" width="420" height="580">
		<h2 class="text-base font-roboto-bold font-bold text-black text-center mb-3">Issue #4 is sold out.</h2>
		<h4 class="text-sm font-roboto-bold font-bold text-black text-center mt-3 group">If you are lucky, you may get the last pieces in <a href="" class="text-sm font-roboto-bold font-bold text-white text-center transition-all group-hover:underline group-hover:decoration-white group-hover:underline-offset-2"> selected stores</a></h4>
	</section>
	<section id="issue3" class="w-screen h-auto flex flex-col items-center justify-start gap-y-2 pb-4">
		<img src="/images/b3.png" alt="Issue #3" width="420" height="580">
		<h2 class="text-base font-roboto-bold font-bold text-black text-center mb-3">Issue #3</h2>
		<a href="" class="text-sm font-roboto-bold font-bold text-white text-center transition-all hover:underline hover:decoration-white hover:underline-offset-2">BUY HERE</a>

		<h4 class="text-sm font-roboto-bold font-bold text-black text-center mt-3 group">or in <a href="" class="text-sm font-roboto-bold font-bold text-white text-center transition-all group-hover:underline group-hover:decoration-white group-hover:underline-offset-2">selected stores</a></h4>
	</section>
	<section id="issue2" class="w-screen h-auto flex flex-col items-center justify-start gap-y-2 pb-4">
		<img src="/images/b2.png" alt="Issue #2" width="420" height="580">
		<h2 class="text-base font-roboto-bold font-bold text-black text-center mb-3">Issue #2</h2>
		<a href="" class="text-sm font-roboto-bold font-bold text-white text-center transition-all hover:underline hover:decoration-white hover:underline-offset-2">BUY HERE</a>

		<h4 class="text-sm font-roboto-bold font-bold text-black text-center mt-3 group">or in <a href="" class="text-sm font-roboto-bold font-bold text-white text-center transition-all group-hover:underline group-hover:decoration-white group-hover:underline-offset-2">selected stores</a></h4>
	</section>
	<section id="issue1" class="w-screen h-auto flex flex-col items-center justify-start gap-y-2 pb-4">
		<img src="/images/b1.png" alt="Issue #1" width="420" height="580">
		<h2 class="text-base font-roboto-bold font-bold text-black text-center mb-3">Issue #1 is sold out.</h2>
		<h4 class="text-sm font-roboto-bold font-bold text-black text-center mt-3 group">If you are lucky, you may get the last pieces in <a href="" class="text-sm font-roboto-bold font-bold text-white text-center transition-all group-hover:underline group-hover:decoration-white group-hover:underline-offset-2"> selected stores</a></h4>
	</section>
	<footer class="w-screen h-72 flex items-center justify-between bg-red">
		<div class="w-1/4 h-full p-5 flex flex-col items-start justify-start gap-y-2">
			<p class="text-lg font-roboto-bold font-bold text-slate-900 text-left leading-6">Backstage Talks is a magazine of casual, but in depth dialogues on design and business. Our decisions shape and influence this complex world—to have a chance to make the right ones, we need to talk.</p>
			<span class="text-xs font-roboto-regular font-normal text-slate-900 text-left">© 2023 <a href="" class="underline underline-offset-2 hover:no-underline">Published by Büro Milk</a></span>
			<a href="" class="mt-auto text-lg font-roboto-bold font-bold text-slate-900 text-left underline underline-offset-2 hover:no-underline">Privacy Policy</a>
		</div>
		<div class="w-3/4 h-full p-4 flex items-end justify-end">
			<a href="" class="text-lg font-roboto-bold font-bold text-slate-900 text-left underline underline-offset-2 hover:no-underline">info@backstagetalks.com</a>
		</div>
	</footer>
	<footer class="w-screen h-auto p-2 flex items-center justify-center bg-red">
		<span class="text-sm font-roboto-regular font-normal text-slate-900 text-left">Developed by <a href="https://github.com/dano2906" class="text-sm font-roboto-regular font-normal text-white text-left transition-all underline underline-offset-2 hover:no-underline">Dano</a></span>
	</footer>
</Layout>

<script lang="ts">
	let body = document.body;
	let sections = document.querySelectorAll('section');
	const callback = function (entries) {
		entries.forEach((entry)=>{
			if(entry.isIntersecting) {
				switch (entry.target.id) {
					case 'issue7':
						body.className=""
						body.classList.add("transition-colors","bg-pink-600/80")
						break;
					case 'issue6':
						body.className=""
						body.classList.add("transition-colors","bg-white")
						break;
					case 'issue5':
						body.className=""
						body.classList.add("transition-colors","bg-green")
						break;
					case 'issue4':
						body.className=""
						body.classList.add("transition-colors","bg-orange")
						break;
					case 'issue3':
						body.className=""
						body.classList.add("transition-colors","bg-yellow")
						break;
					case 'issue2':
						body.className=""
						body.classList.add("transition-colors","bg-blue")
						break;
					case 'issue1':
						body.className=""
						body.classList.add("transition-colors","bg-red")
						break;
					default:
						break;
				}
			}
		});
	}
	let observer = new IntersectionObserver(callback, {
		rootMargin: "0px",
  		threshold: 0.4,
	});
	sections.forEach((section)=> observer.observe(section))
</script>